.section_reward_table {
  padding-top: 24px;
  width: 100%;
  overflow-x: auto;
}
/* @media (max-width: 650px) {
  .section_reward_table {
    padding: 5px;
  }
} */
.section_reward_table__title {
  color: var(--gray-deep);
  padding-bottom: 16px;
}
.section_reward_table__element {
  background-color: var(--dark-s);
  box-shadow: var(--dark-shadow);
  border-radius: 12px;
  width: 100%;
  /* overflow-x: auto; */
}
@media (max-width: 1024px) {
  .section_reward_table__element {
    width: max-content;
  }
}
.section_reward_table__element_option {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  padding: 24px 40px;
}
/* @media (max-width: 930px) {
  .section_reward_table__element_option {
    flex-wrap: wrap;
  }
} */
@media (max-width: 768px) {
  .section_reward_table__element_option {
    /* text-align: center;
    flex-direction: column; */
    padding: 24px 20px;
  }
}
.section_reward_table__element_option:not(:last-child) {
  border-bottom: 1px solid var(--dark-xs);
}
.section_reward_table__element_option h4 {
  color: var(--gray);
}

.section_reward_table__element_option p {
  font: 600 var(--p-m);
  color: var(--gray);
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.section_reward_table__element_option:first-child h4 {
  color: var(--gray-deep);
}
.section_reward_table__element_option:first-child p {
  font: var(--h4);
  color: var(--gray-deep);
  text-align: right;
}

.section_reward_table__element_option:last-child h4 {
  color: var(--yellow);
}
.section_reward_table__element_option:last-child p {
  font: var(--h4);
  color: var(--yellow);
  text-align: center;
}

.section_reward_table__element_option:last-child span {
  font: var(--p-m);
  color: var(--yellow);
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 12px;
  cursor: pointer
}


.section_reward_table__element_option:last-child span svg {
  margin-top: 4px;
}