/* font importation */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  /* ------------colors----------------- */
  --bg: rgb(4, 4, 4);
  --dark: #1e1e1e;
  --dark-m: #2c2c2c;
  --dark-s: #2e2e2e;
  --dark-xs: #3e3e3e;
  --dark-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5),
    inset -4px -4px 8px rgba(0, 0, 0, 0.25), inset 4px 4px 8px #303030;

  --yellow: #ffc942;
  --yellow-1: #fec73e;
  --yellow-2: #fbc131;
  --yellow-3: #f5b71d;
  --yellow-4: #f2b110;
  --yellow-disabled: #624d19;
  --yellow-gradient-bg: radial-gradient(
    45% 45% at 223.6% -90.33%,
    #ffc942 0%,
    #fec73e 28%,
    #fbc131 57%,
    #f5b71d 86%,
    #f2b110 100%
  );

  --gray: #c2c2c2;
  --gray-deep: #9d9d9d;

  /* header */
  --header-bg: rgba(4, 4, 4, 0.8);
  --header-color: #fffdfa;

  /* --------------fonts---------------------- */
  --h1: bold 40px/120% "Inter", sans-serif;
  --h2: bold 32px/120% "Inter", sans-serif;
  --h3: bold 28px/120% "Inter", sans-serif;
  --h4: bold 20px/120% "Inter", sans-serif;
  --h5: bold 18px/120% "Inter", sans-serif;

  --p-xl: 32px/120% "Lato", sans-serif;
  --p-l: 24px/120% "Lato", sans-serif;
  --p-m: 20px/120% "Lato", sans-serif;
  --p-s: 16px/120% "Lato", sans-serif;
  --p-xs: 14px/120% "Lato", sans-serif;
  /* for semi bold font use font-weight: 600; */

  --label: 600 18px/120% "Inter", sans-serif;
  --input: 18px/120% "Lato", sans-serif;
}

h1 {
  font: var(--h1);
}

h2 {
  font: var(--h2);
}

h3 {
  font: var(--h3);
}

h4 {
  font: var(--h4);
}

h5 {
  font: var(--h5);
}

h6 {
  font: var(--h6);
}

body {
  scroll-behavior: smooth;
}
