@keyframes headerAppear {
  0% {
    transform: translateY(-200%) scale(1);
    height: 0;
    opacity: 0;
  }
  100% {
    transform: translateY(0) scale(1);
    height: auto;
    opacity: 1;
  }
}

@keyframes sliderAppear {
  0% {
    transform: translateX(-5000%) scale(0);
    height: 0;
    opacity: 0;
    overflow: hidden;
  }
  100% {
    transform: translateX(0) scale(1);
    height: auto;
    opacity: 1;
  }
}
@keyframes sliderActive {
  0%,
  100% {
    transform: rotate(0deg);
    background-color: transparent;
  }
  50% {
    transform: rotate(45deg);
    background-color: var(--slider-bg);
    border-color: var(--slider-bg);
  }
}

@keyframes problemBoxG1 {
  0%,
  100% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(31.3deg) translateX(16px) translateY(90px);
  }
}

@keyframes problemBoxG3 {
  0%,
  100% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-31.8deg) translateX(16px) translateY(-74px);
  }
}

@keyframes bounce {
  0% {
    transform: translateY(-2.6%);
  }
  100% {
    transform: translateY(2.6%);
  }
}

@keyframes blink {
  0%,
  100% {
    filter: blur(var(--blur)) contrast(var(--contrast));
    opacity: 0;
    visibility: hidden;
  }

  50% {
    filter: blur(0) contrast(1);
    opacity: 1;
    visibility: visible;
  }
}

@keyframes fade-scroll {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  49% {
    opacity: 0;
    visibility: hidden;
  }

  50% {
    opacity: 1;
    visibility: visible;
  }

  51% {
    opacity: 0;
    visibility: hidden;
  }

  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes horizontal-scroll {
  0% {
    transform: translate3d(100%, 0%, 0);
  }

  50% {
    transform: none;
  }

  100% {
    transform: translate3d(-100%, 0%, 0);
  }
}

@keyframes backwards-scroll {
  0% {
    transform: translate3d(0%, -100%, 0);
  }

  50% {
    transform: none;
  }

  100% {
    transform: translate3d(0%, 100%, 0);
  }
}

@keyframes zoom-scroll {
  0% {
    filter: blur(5rem);
    transform: scale(0);
    opacity: 0;
    visibility: hidden;
  }

  50% {
    filter: blur(0);
    transform: none;
    opacity: 1;
    visibility: visible;
  }

  100% {
    filter: blur(3rem);
    transform: scale(1.5);
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes Pixelate {
  // 0% {
  // background: #fff url("/media/pixel.png");
  // background-color: aqua;
  // background-position-y: -100dvh;
  // opacity: 1;
  // color: #fff;
  // }

  0% {
    background: #00000022 url("/media/pixel.png");
    background-size: 100%;
    // background-color: yellow;
    background-position-y: 0px;
    visibility: visible;
    // color: var(--primary-dark);
  }

  70% {
    // background: url("/media/pixel.png");
    background-color: #fff;
    background-size: 100%;
    background-position-y: 150%;
    // opacity: 1;
    // visibility: hidden;
    // color: #fff;
  }

  100% {
    // background: url("/media/pixel.png");
    // background-color: red;
    background-color: #fff;
    background-size: 100%;
    background-position-y: 150%;
    // opacity: 1;
    visibility: hidden;
    // color: #fff;
  }
}
