// @import "./demo";
@import "./keyframes";
@import "./functions";

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-variant-numeric: lining-nums;
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
}

:root {
  --white: #fdfdfd;
  --white-100: #fffdfa;
  --white-200: #fcfbf9;
  --black: #0d0a03;

  --primary-dark: #201932;
  --primary-dark-brand: var(--black);

  --gray: #9c9a9a;
  --gray-dark: #565656;

  --green: #14f094;
  --green-dark: #09cb7a;
  --blue: #54efea;
  --blue-dark: #0000ff;
  --yellow: #e5cc0c;
  --am-theme: #fbab30;
  --orange: #ff930f;
  --pink: #ea37a3;
  --purple: #683ce4;
  --red: #ff2f49;

  --container-title: linear-gradient(
    270deg,
    #0000ff -56.89%,
    #00ff00 -28.22%,
    #ff930f 38.09%,
    #ff0000 101.71%
  );
  --asset-title: linear-gradient(
    270deg,
    #0000ff -23.78%,
    #00ff00 35.9%,
    #ff930f 108.01%,
    #ff0000 139.51%
  );
  --practice-title: linear-gradient(
    270deg,
    #0000ff 26.84%,
    #00ff00 80.56%,
    #ff930f 118.93%,
    #ff0000 162.68%
  );

  --bg-white: var(--white-200);

  --am-mw-container: calc(1192px + 48px);

  --font-BPdotsSquare: "BPdotsSquare";
  --font-BPdotsSquareBold: "BPdotsSquareBold";
  --font-BPdotsSquareLight: "BPdotsSquareLight";
  --font-DMSans: "DMSans-VariableFont_opsz,wght";
  --font-DMSansItalic: "DMSans-Italic-VariableFont_opsz,wght";

  --header-height: 64px;
  --footer-height: 84px;
}

html {
  font-size: 16px;
  scroll-snap-type: y mandatory;
  timeline-scope: --section, --main, --hero;
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
  @media (max-width: 670px) {
    font-size: 14.5px;
  }
  @media (max-width: 400px) {
    font-size: 11.5px !important;
  }
}

body {
  background-color: var(--bg-white, white);
  color: var(--black, black);
}

main {
  view-timeline: --main;
}
section {
  padding-top: var(--header-height);
  padding-bottom: var(--footer-height);
  position: relative;

  scroll-snap-align: start;
  scroll-snap-stop: always;
  view-timeline: --section;
  height: 100dvh;
}

#hero {
  padding-top: 0;
  margin: 0 auto;
  position: relative;
  & > * {
    z-index: 1;
  }
  & > .timeline {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    view-timeline: --hero;
    z-index: 0;
  }
}

.am {
  &-bg {
    &-gradient {
      &-red-blue {
        background: linear-gradient(
          270deg,
          #14f094 2.85%,
          #683ce4 41.1%,
          #ea37a3 64.45%,
          #ff2f49 83.33%,
          #ff930f 101.71%
        );
      }
    }
    &-grid {
      background-image: url("/media/box.png");
      background-size: 5px 5px;
      background-repeat: repeat;
      background-position: -200px;
    }
  }
  &-game-container {
    position: fixed;
    inset: 0;
    width: 100dvw;
    height: 100dvh;
    & > canvas {
      border: 1px solid var(--bg-white);
    }
  }
  &-subscribe {
    width: min(423px, 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    & > .title2 {
      text-align: center;
      font-size: 1.625rem;
      font-weight: 700;
      margin-bottom: 0;
    }
    & > form {
      width: 100%;
      margin-top: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 16px;
      & > input {
        border: 1px solid var(--gray);
        width: min(352px, 100%);
        padding: 8px 12px;
        // color: var(--gray);
        font-size: 0.75rem;
        background-color: transparent;
        outline: none;
      }
      & > button {
        border: none;
        outline: none;
        padding: 2px;
        display: flex;
        & > span {
          background-color: var(--bg-white);
          color: var(--primary-dark);
          padding: 6px 24px;
        }
      }
    }
  }
  &-header {
    position: fixed;
    inset: 0;
    bottom: auto;
    width: 100%;
    &-line {
      // background-image: linear-gradient(
      //   270deg,
      //   #0000ff 13.78%,
      //   #00ff00 48.56%,
      //   #ff930f 73.39%,
      //   #ff0000 101.71%
      // );
      // height: 2px;
      // border-top: 2px dashed var(--am-theme);
      height: 3px;
      background-repeat: repeat-x;
      background-size: auto 100%;
    }
    z-index: 999;
    overflow: hidden;
    animation: headerAppear ease-in-out both;
    animation-timeline: --hero;
    transform-origin: top center;
    @supports not (animation-timeline: auto) {
      top: 0;
      transition: all 300ms ease-in-out;
    }
    &.hide {
      @supports not (animation-timeline: auto) {
        top: -100%;
      }
    }
    &-container {
      &-content {
        display: flex;
        position: relative;
        width: min(var(--am-mw-container), 100%);
        margin: 0 auto;
        padding: 16px 24px 8px;
        & > .logo {
          display: block;
          width: min(196px, 100%);
          aspect-ratio: 1099.06/180;
          position: relative;
          & > img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: center;
          }
        }
      }
    }
  }
  &-slideIndicator {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 46px;
    height: 100dvh !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;

    animation: sliderAppear ease-in-out both;
    animation-timeline: --hero;
    transform-origin: center right;
    @media (max-width: 850px) {
      left: 24px;
    }
    @media (max-width: 670px) {
      flex-direction: row;
      bottom: calc(var(--footer-height) + 0px);
      top: auto;
      left: 0;
      right: 0;
      height: min-content !important;
    }
    & > .indicator {
      border: none;
      outline: none;
      transition: all 500ms ease-in-out;
      background-color: transparent;
      text-align: left;
      text-transform: uppercase;
      font-size: 1rem;
      font-weight: 300;
      letter-spacing: 0.02em;
      cursor: pointer;
      @media (max-width: 670px) {
        font-size: 0.8rem;
      }
      &.active {
        font-weight: 700;
      }
      &.hide {
        opacity: 0;
        @supports (animation-timeline: auto) {
          opacity: 1;
        }
      }
    }
  }
  &-canvas {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    & > canvas {
      border: 1px solid var(--bg-white);
    }
  }
  &-container {
    overflow: hidden;
    position: absolute;
    inset: 0;
    margin: 0 auto;
    padding-top: var(--header-height);
    padding-bottom: var(--footer-height);
    @supports (animation-timeline: auto) {
      overflow: hidden;
      position: fixed;
      inset: 0;
      animation: fade-scroll ease-in-out both;
      transition-delay: 0s;
      animation-timeline: --section;
      margin: 0 auto;
    }
  }
  // &-pixelate {
  //   position: fixed;
  //   inset: 0;
  //   width: 100dvw;
  //   height: 100dvh;
  //   // background: #ffffff url("/media/pixel.png");
  //   /* transition-delay: 0.8s; */
  //   // background-size: 140%;
  //   // -webkit-animation: animate 0.8s steps(8) forwards;
  //   animation: Pixelate 0.8s steps(8) forwards;
  //   z-index: 1000;
  // }
  &-hero {
    &-bg {
      width: 100%;
      background-image: url("/media/bgs/hero-bg3.png");
      // background-size: contain;
      background-position: bottom center;
      background-repeat: no-repeat;
    }
    width: min(1248px, 100%);
    margin: 0 auto;
    padding: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    @media (max-width: 600px) {
      align-items: center;
      & > * {
        text-align: center;
      }
    }
    & > h1 {
      font-size: 3rem;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 0.02em;
      font-weight: bold;
      opacity: 0;
      transition: opacity 500ms ease-in;
      &.active {
        opacity: 1;
      }

      & > span {
        &:not(:last-child) {
          & > i {
            display: inline-block;
            width: 13px;
            aspect-ratio: 1/1;
            background-color: var(--am-theme);
            vertical-align: middle;
          }
        }
      }
    }
  }
  &-metrics {
    width: min(1240px, 100%);
    margin: 0 auto;
    padding-left: 24px;
    padding-right: 24px;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    align-items: center;
    gap: 1.5rem;
    @media (max-width: 670px) {
      grid-template-columns: 100%;
    }
    & > .content {
      grid-column: 11 / span 6;
      letter-spacing: 0.02em;
      @media (max-width: 670px) {
        grid-column: 1 / span 1;
        padding-left: 28px;
        margin: auto;
      }
      & > h2 {
        font-size: 3rem;
        text-transform: uppercase;
        font-weight: 700;
        margin-bottom: 32px;
      }
      & > .list {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin-top: 24px;
        & > .option {
          display: flex;
          gap: 24px;
          & > .dot {
            padding: 2px 0 0 8px;
            & > span {
              display: inline-block;
              width: 8px;
              aspect-ratio: 1/1;
              background-color: var(--am-theme);
            }
          }
          & > .content {
            display: flex;
            flex-direction: column;
            gap: 20px;
            & > h3 {
              font-size: 1.375rem;
              font-weight: 700;
              margin: 0;
              text-transform: uppercase;
            }
            & > p {
              font-size: 3rem;
              font-weight: 400;
              margin: 0;
              text-transform: uppercase;
              font-variant-numeric: lining-nums;
            }
          }
        }
      }
    }
  }
  &-business {
    width: min(1240px, 100%);
    margin: 0 auto;
    padding-left: 24px;
    padding-right: 24px;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    align-items: center;
    gap: 1.5rem;
    @media (max-width: 670px) {
      grid-template-columns: 100%;
    }
    & > .content {
      grid-column: 2 / span 6;
      letter-spacing: 0.02em;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      height: min(375px, 100%);
      @media (max-width: 1330px) {
        grid-column: 3 / span 6;
      }
      @media (min-height: 400px) and (max-height: 650px) {
        height: 65%;
      }
      @media (max-width: 670px) {
        grid-column: 1 / span 1;
        padding-left: 28px;
        margin: auto;
      }
      & > h2 {
        font-size: 3rem;
        text-transform: uppercase;
        font-weight: 700;
      }
      & > .list {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin-top: 6rem;
        // margin-bottom: 5rem;
        & > .option {
          display: flex;
          gap: 24px;
          & > .dot {
            padding: 2px 0 0;
            & > span {
              display: inline-block;
              width: 8px;
              aspect-ratio: 1/1;
              background-color: var(--am-theme);
            }
          }
          & > .content {
            display: flex;
            flex-direction: column;
            gap: 20px;
            & > h3 {
              font-size: 2rem;
              font-weight: 400;
              letter-spacing: 0.02em;
              margin: 0;
              text-transform: uppercase;
              line-height: 100%;
              & > a {
                font-size: inherit;
                font-weight: inherit;
                line-height: inherit;
                text-transform: inherit;
                margin: 0;
                display: flex;
                align-items: center;
                gap: 16px;
                color: var(--black);
                text-decoration: none;
              }
            }
            & > p {
              width: min(380px, 100%);
              font-size: 1rem;
              font-weight: 400;
              margin: 0;
            }
          }
        }
      }
    }
  }
  &-builder {
    width: min(1240px, 100%);
    margin: 0 auto;
    padding-left: 24px;
    padding-right: 24px;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    align-items: center;
    gap: 1.5rem;
    @media (max-width: 670px) {
      grid-template-columns: 100%;
    }
    & > .content {
      grid-column: 2 / span 6;
      letter-spacing: 0.02em;
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      @media (max-width: 1330px) {
        grid-column: 3 / span 6;
      }
      @media (max-width: 670px) {
        grid-column: 1 / span 1;
        padding-left: 28px;
        margin: auto;
      }
      & > h2 {
        font-size: 3rem;
        text-transform: uppercase;
        font-weight: 700;
      }
      & > .list {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin-top: 24px;
        @media (max-height: 700px) {
          gap: 1rem;
        }
        & > .option {
          display: flex;
          gap: 24px;
          margin: 0.8rem 0px;
          & > .dot {
            padding: 2px 0 0;
            & > span {
              display: inline-block;
              width: 8px;
              aspect-ratio: 1/1;
              background-color: var(--am-theme);
            }
          }
          & > .content {
            display: flex;
            flex-direction: column;
            gap: 20px;
            @media (max-height: 700px) {
              gap: 8px;
            }
            & > h3 {
              font-size: 2rem;
              font-weight: 400;
              letter-spacing: 0.02em;
              margin: 0;
              text-transform: uppercase;
              line-height: 100%;
              & > a {
                font-size: inherit;
                font-weight: inherit;
                line-height: inherit;
                text-transform: inherit;
                margin: 0;
                display: flex;
                align-items: center;
                gap: 16px;
                color: var(--black);
                text-decoration: none;
              }
            }
            & > p {
              width: min(380px, 100%);
              font-size: 1rem;
              font-weight: 400;
              margin: 0;
            }
          }
        }
      }
    }
  }
  &-user {
    width: min(1240px, 100%);
    margin: 0 auto;
    padding-left: 24px;
    padding-right: 24px;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    align-items: center;
    gap: 1.5rem;
    @media (max-width: 670px) {
      grid-template-columns: 100%;
    }
    & > .content {
      grid-column: 2 / span 6;
      letter-spacing: 0.02em;
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      @media (max-width: 1330px) {
        grid-column: 3 / span 6;
      }
      @media (max-width: 670px) {
        grid-column: 1 / span 1;
        padding-left: 28px;
        margin: auto;
      }
      & > h2 {
        font-size: 3rem;
        text-transform: uppercase;
        font-weight: 700;
      }
      & > .list {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin-top: 24px;
        @media (max-height: 700px) {
          gap: 1rem;
        }
        & > .option {
          display: flex;
          gap: 24px;
          margin: 0.8rem 0px;
          & > .dot {
            padding: 2px 0 0;
            & > span {
              display: inline-block;
              width: 8px;
              aspect-ratio: 1/1;
              background-color: var(--am-theme);
            }
          }
          & > .content {
            display: flex;
            flex-direction: column;
            gap: 20px;
            @media (max-height: 700px) {
              gap: 8px;
            }
            & > h3 {
              font-size: 2rem;
              font-weight: 400;
              letter-spacing: 0.02em;
              margin: 0;
              text-transform: uppercase;
              line-height: 100%;
              & > a,
              & > p {
                font-size: inherit;
                font-weight: inherit;
                line-height: inherit;
                text-transform: inherit;
                margin: 0;
                display: flex;
                align-items: center;
                gap: 16px;
                color: var(--black);
                text-decoration: none;
              }
            }
            & > p {
              width: min(380px, 100%);
              font-size: 1rem;
              font-weight: 400;
              margin: 0;
            }
          }
        }
      }
    }
  }
  &-ecosystems {
    width: min(1300px, 100%);
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    @media (min-height: 650px) {
      gap: 10%;
    }
    & > .content {
      height: min(800px, 100%);
      padding-left: 24px;
      padding-right: 24px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      gap: 1.5rem;
      & > h2 {
        padding-top: 76px;
        font-size: 3rem;
        text-transform: uppercase;
        font-weight: 700;
        grid-column: 1 / span 16;
        text-align: center;
        @media (min-width: 768px) {
          padding-left: 24px;
        }
        @media (max-height: 700px) {
          padding-top: 2rem;
        }
      }
      & > .container {
        display: grid;
        grid-template-columns: repeat(18, 1fr);
        grid-auto-flow: dense;
        margin: auto 0;
        transform: translateY(-7.5%);
        @media (max-width: 1111px) {
          grid-template-columns: repeat(16, 1fr);
        }
        @media (max-width: 900px) {
          grid-template-columns: repeat(9, 1fr);
        }
        @media (max-width: 670px) {
          grid-template-columns: 100%;
          gap: 2.25rem;
        }
        & > .content {
          letter-spacing: 0.02em;
          display: flex;
          flex-direction: column;
          gap: 24px;
          & > .list {
            display: flex;
            flex-direction: column;
            gap: 4rem;
            margin-top: 24px;
            @media (max-height: 700px) {
              gap: 2rem;
            }
            @media (max-width: 670px) {
              gap: 2.25rem;
              margin-top: 0;
            }
            & > .option {
              display: flex;
              gap: 24px;
              & > .dot {
                padding: 2px 0 0;
                & > span {
                  display: inline-block;
                  width: 8px;
                  aspect-ratio: 1/1;
                  background-color: var(--am-theme);
                }
              }
              & > .content {
                display: flex;
                flex-direction: column;
                gap: 20px;
                & > h3 {
                  font-size: 1.5rem;
                  font-weight: 400;
                  letter-spacing: 0.02em;
                  margin: 0;
                  text-transform: uppercase;
                  line-height: 100%;
                  & > a,
                  & > p {
                    font-size: inherit;
                    font-weight: inherit;
                    line-height: inherit;
                    text-transform: inherit;
                    margin: 0;
                    display: flex;
                    align-items: center;
                    gap: 16px;
                    color: var(--black);
                    text-decoration: none;
                  }
                }
                & > p {
                  width: min(380px, 100%);
                  font-size: 1rem;
                  font-weight: 400;
                  margin: 0;
                }
              }
            }
          }
        }
        & > .left {
          grid-column: 2 / span 4;
          & > .list {
            & > * {
              justify-content: flex-end;
              @media (max-width: 670px) {
                flex-direction: row-reverse;
              }
              & > * {
                & > h3 {
                  & > * {
                    text-align: right;
                    width: 100%;
                    @media (max-width: 670px) {
                      display: flex;
                      flex-direction: row-reverse;
                    }
                  }
                }
              }
            }
          }
          @media (max-width: 1330px) {
            grid-column: 1 / span 6;
          }
          @media (max-width: 993px) {
            grid-column: 1 / span 7;
          }
          @media (max-width: 900px) {
            grid-column: 1 / span 4;
          }
          @media (max-width: 670px) {
            grid-column: 1 / span 1;
            padding-left: 28px;
          }
        }
        & > .right {
          grid-column: 14 / span 6;
          & > .list {
            & > * {
              justify-content: flex-start;
              @media (max-width: 670px) {
                flex-direction: row;
              }
              & > * {
                & > h3 {
                  & > * {
                    text-align: right;
                    width: 100%;
                    @media (max-width: 670px) {
                      display: flex;
                      flex-direction: row;
                    }
                  }
                }
              }
            }
          }
          @media (max-width: 1330px) {
            grid-column: 14 / span 6;
          }
          @media (max-width: 1111px) {
            grid-column: 12 / span 6;
          }
          @media (max-width: 993px) {
            grid-column: 11 / span 7;
          }
          @media (max-width: 900px) {
            grid-column: 6 / span 4;
          }
          @media (max-width: 670px) {
            grid-column: 1 / span 1;
            padding-left: 28px;
            width: 100%;
          }
        }
      }
    }
  }
  &-footer {
    position: fixed;
    inset: 0;
    top: auto;
    width: 100%;
    z-index: 999;
    &-line {
      // background-image: linear-gradient(
      //   270deg,
      //   #0000ff 13.78%,
      //   #00ff00 48.56%,
      //   #ff930f 73.39%,
      //   #ff0000 101.71%
      // );
      // height: 2px;
      // border-top: 2px dashed var(--am-theme);
      height: 3px;
      background-repeat: repeat-x;
      background-size: auto 100%;
    }
    &-container {
      position: relative;
      width: min(var(--am-mw-container), 100%);
      margin: 0 auto;
      padding: 16px 24px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      gap: 24px;
      @media (max-width: 688px) {
        padding: 8px 24px 12px;
        flex-direction: column;
        gap: 4px;
      }
      & > .left {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
        @media (max-width: 450px) {
          flex-grow: 1;
          width: 100%;
          justify-content: center;
          margin-bottom: 4px;
        }
        & > .logo {
          display: inline-block;
          height: 32px;
          aspect-ratio: 1099.06/180;
          position: relative;
          @media (max-width: 670px) {
            height: 14px;
            margin: 0 auto;
          }
          & > img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: left center;
          }
        }
        & > p {
          font-size: 0.75rem;
          margin: 0;
          &.hero {
            margin-left: 0;
          }
        }
      }
      & > p {
        font-size: 0.75rem;
        margin: 0;
        &.hero {
          @media (min-width: 760px) {
            // margin-left: -30px;
          }
        }
      }
      & > .socials {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 12px;
        & > .icon {
          width: 28px;
          display: flex;
          aspect-ratio: 1/1;
          margin-right: auto;
          @media (max-width: 670px) {
            width: 16px;
            margin-left: auto;
          }
          & > img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
          }
        }
      }
    }
  }
}
