body {
  background: #121212;
  font-family: Poppins, sans-serif;
}

.bg-dark, .app-nav {
  background-color: #191c24 !important;
}

.btn-primary, .btn-primary-link {
  display: inline-flex;
  background: #EFCB30 !important;
  box-shadow: 0px 8px 16px rgba(239, 203, 48, 0.1), 0px 2px 8px rgba(239, 203, 48, 0.2) !important;
  border-radius: 12px;
  border: 0px solid !important;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  align-items: center;
  letter-spacing: 0.75px;
  padding: 12px 16px;
  color: rgba(0, 0, 0, 0.69) !important;
  text-decoration: none !important;
}

.btn-secondary, .btn-secondary-link {
  background: #F6F6F6 !important;
  display: inline-flex;
  box-shadow: 0px 8px 16px rgba(255, 255, 255, 0.1), 0px 2px 8px rgba(255, 255, 255, 0.2) !important;
  border-radius: 12px;
  border: 0px solid !important;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  align-items: center;
  letter-spacing: 0.75px;
  padding: 12px 16px;
  color: rgba(0, 0, 0, 0.69) !important;
  text-decoration: none !important;
}

.homeSection {
  height: calc(100vh - 72px);
  display: flex;
  align-items: center;
}
.homeSection .btn-secondary {
  opacity: 0.65;
}
.homeSection .row {
  flex: 1;
  display: flex;
  align-items: center;
}
.homeSection .col-md-6 {
  flex: 50%;
  max-width: 50%;
}
.homeSection .appInfoBox .banner-heading {
  font-weight: bold;
  font-size: 42px;
  line-height: 56px;
  letter-spacing: 0.1px;
  color: rgba(255, 255, 255, 0.89);
}
.homeSection .appInfoBox .banner-content {
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 0.2px;
  margin-bottom: 45px;
  color: rgba(255, 255, 255, 0.89);
}
.homeSection .banner-image-section {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

@media (min-width: 992px) and (max-width: 1080px) {
  .banner-image-section img {
    margin-right: -30px;
    width: 350px;
  }
}
@media (max-width: 991px) {
  .banner-image-section img {
    display: none;
  }
}
@media (max-width: 744px) {
  .footer .bottom-section {
    display: block !important;
  }
  .footer .bottom-section .blogs {
    justify-content: center;
  }
  .footer .bottom-section .bottom-right-section {
    justify-content: center;
  }
}
.second-section {
  padding-bottom: 100px;
}
.second-section .heading {
  color: #FFFFFF;
  font-size: 36px;
  margin-bottom: 70px;
  text-align: center;
}
.second-section p {
  color: #818485;
}
.second-section .col-md-6 {
  margin-bottom: 10px;
}
.second-section .inner-box {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.12), rgba(255, 255, 255, 0.12)), #0A0A0A;
  border-radius: 13px;
  flex: 1;
  height: 100%;
  padding: 24px;
}
.second-section .inner-box p {
  font-size: 14px;
  line-height: 28px;
  color: #FFFFFF;
}

.buttons-group {
  display: flex;
  flex-wrap: wrap;
}
.buttons-group button, .buttons-group a {
  margin: 5px;
}

.features-section {
  padding-bottom: 100px;
}
.features-section .col-md-6 {
  margin-bottom: 15px;
}
.features-section .inner-card {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.12), rgba(255, 255, 255, 0.12)), #0A0A0A;
  border-radius: 12px;
  padding: 24px;
  height: 100%;
}
.features-section .inner-card .card-title {
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 0.1px;
  color: #FFFFFF;
}
.features-section .inner-card .card-content {
  font-size: 14px;
  color: #FFFFFF;
}

.footer {
  width: 100%;
  padding: 30px 0;
  font-size: 0.875rem;
  text-align: center;
}
.footer .footer-text {
  margin: 15px 0;
}
.footer p {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.75px;
  color: #FFFFFF;
}
.footer .social-links-section {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
}
.footer .social-links-section ul {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  margin: 0;
}
.footer .social-links-section ul a {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  margin-right: 10px;
  -webkit-align-items: center;
  align-items: center;
  border-radius: 50%;
  background: #FFFFFF;
}
.footer .social-links-section ul a .icon {
  width: 14px;
  fill: #000;
}
.footer .bottom-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer .bottom-section .blogs {
  display: flex;
}
.footer .bottom-section .blogs a {
  color: #FFFFFF;
  margin: 0 5px;
}
.footer .bottom-section .bottom-right-section {
  display: flex;
}

.mail-modal .modal-content {
  background: #212529;
}
.mail-modal .modal-content .modal-header {
  font-weight: 600;
  font-size: 18px;
  color: #FFFFFF;
  margin: 0px;
  border-bottom: 1px solid #343a40;
}
.mail-modal .modal-content .modal-header button {
  outline: none !important;
  font-weight: 500;
  text-shadow: none;
  color: #e9ecef;
}
.mail-modal .modal-content .modal-body label {
  font-size: 14px;
  color: #FFFFFF;
}
.mail-modal .modal-content .modal-body .form-control {
  background: #343a40;
  border: 1px solid #343a40 !important;
  color: #FFFFFF;
}

/*# sourceMappingURL=style.css.map */
