body{
  background: #121212;
  font-family: Poppins,sans-serif;
}
.bg-dark, .app-nav {
  background-color: #191c24 !important;
}

.navbar-brand img{
  width: 160px;
}
.btn-primary , .btn-primary-link{
  //border-color: #262A2B !important;
  //box-shadow: 0px 0px 0 0px #efcc30, 0px 0px 0 0px #262a2b, 4px 4px 0 1px #efcc30, 4px 4px 0 2px #efcc30 !important;
  //background-color: #262A2B !important;
  //color: #efcc30;
  display: inline-flex;
  background: #EFCB30 !important;
  box-shadow: 0px 8px 16px rgba(239, 203, 48, 0.1), 0px 2px 8px rgba(239, 203, 48, 0.2) !important;
  border-radius: 12px;
  border: 0px solid !important;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  align-items: center;
  letter-spacing: 0.75px;
  padding: 12px 16px;
  color: rgba(0, 0, 0, 0.69) !important;
  text-decoration: none !important;
}
.btn-secondary , .btn-secondary-link{
  background: #F6F6F6 !important;
  display: inline-flex;
  box-shadow: 0px 8px 16px rgba(255, 255, 255, 0.1), 0px 2px 8px rgba(255, 255, 255, 0.2) !important;
  border-radius: 12px;
  border: 0px solid !important;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  align-items: center;
  letter-spacing: 0.75px;
  padding: 12px 16px;
  color: rgba(0, 0, 0, 0.69) !important;
  text-decoration: none !important;
}

.homeSection {
  //padding: 200px 0 100px 0px;
  height: calc(100vh - 72px);
  display: flex;
  align-items: center;

  .btn-secondary {
    opacity:0.65;
  }
  .row {
    flex: 1;
    display: flex;
    align-items: center;
  }



  .col-md-6 {
    flex: 50%;
    max-width: 50%;
  }

  .appInfoBox {
    .banner-heading {
      font-weight: bold;
      font-size: 42px;
      line-height: 56px;
      letter-spacing: 0.1px;
      color: rgba(255, 255, 255, 0.89);
    }

    .banner-content {
      font-size: 18px;
      line-height: 32px;
      letter-spacing: 0.2px;
      margin-bottom: 45px;
      color: rgba(255, 255, 255, 0.89);

    }
  }
  .banner-image-section {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}


@media (min-width: 992px) and (max-width: 1080px){
  .banner-image-section img {
    margin-right: -30px;
    width: 350px;
  }
}

@media (max-width: 991px){
  .banner-image-section img {
  display: none;

  }
}
@media (max-width: 744px){
  .footer .bottom-section{
    display: block !important;
    .blogs{
      justify-content: center;
    }
    .bottom-right-section{
      justify-content: center;
    }
  }
}

.second-section{
  padding-bottom: 100px;
  .heading{
    color: #FFFFFF;
    font-size: 36px;
    margin-bottom: 70px;
    text-align: center;
  }
  p{
    color: #818485;
  }
  .col-md-6{
    margin-bottom: 10px;
  }
  .inner-box{
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.12), rgba(255, 255, 255, 0.12)), #0A0A0A;
    border-radius: 13px;
    //border: 1px solid #545b62;
    flex: 1;
    height: 100%;
    padding:24px;
    p{
      font-size: 14px;
      line-height: 28px;
      color: #FFFFFF;
    }
  }
}

.buttons-group{
  display: flex;
  flex-wrap: wrap;
  button, a{
    margin: 5px;
  }
}

.features-section{
  padding-bottom: 100px;
  .col-md-6{
    margin-bottom: 15px;
  }
  .inner-card{
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.12), rgba(255, 255, 255, 0.12)), #0A0A0A;
    border-radius: 12px;
    padding: 24px;
    height: 100%;
    .card-title{
      font-weight: 600;
      font-size: 20px;
      letter-spacing: 0.1px;
      color: #FFFFFF;
    }
    .card-content{
      font-size: 14px;
      color: #FFFFFF;
    }
  }
}

.footer {
  width: 100%;
  padding:30px 0;
  font-size: 0.875rem;
  text-align: center;
  .footer-text{
    margin: 15px 0;
  }
  p{
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.75px;
    color: #FFFFFF;
  }
  .social-links-section {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    ul {
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: center;
      justify-content: center;
      margin: 0;
      a {
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: center;
        justify-content: center;
        width: 28px;
        height: 28px;
        margin-right: 10px;
        -webkit-align-items: center;
        align-items: center;
        border-radius: 50%;
        background: #FFFFFF;

        .icon {
          width: 14px;
          fill: #000;
        }
      }
    }
  }

  .top-section{
    .logo img{
      width: 140px;
    }
  }
  .bottom-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .icon{
      width: 14px;
    }
    .blogs{
      display: flex;
      a{
        color: #FFFFFF;
        margin: 0 5px;
      }
    }
    .bottom-right-section{
      display: flex;
    }
  }
}

.mail-modal{
  .modal-content{
    background: #212529;
    .modal-header{
      font-weight: 600;
      font-size: 18px;
      color: #FFFFFF;
      margin: 0px;
      border-bottom: 1px solid #343a40;
      button{
        outline: none !important;
        font-weight: 500;
        text-shadow: none;
        color: #e9ecef;
      }
    }
    .modal-body{
      label{
        font-size: 14px;
        color: #FFFFFF;
      }
      .form-control{
        background: #343a40;
        border: 1px solid #343a40 !important;
        color: #FFFFFF;
      }
    }
  }
}
