.pixelBackground {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  position: fixed;
  inset: 0;
  z-index: 1000;
  pointer-events: none;
  .row {
    display: flex;
    width: 100%;
    height: 4vh;
    .block {
      width: 4vh;
      height: 100%;
      --box-bg: var(--am-theme);
      background-color: var(--box-bg);
      box-shadow: 0 0 0.5px 0px rgba(255, 255, 255, 0.2);
    }
  }
}
